<!--  app/views/moviegoers/show.html.erb -->
<h2>Moviegoer: <em><%= @moviegoer.name %></em></h2>

<div class="row">
  <%= link_to 'Back to movie list', movies_path, class: 'btn btn-primary col-2' %>
</div>

<h3>Reviews:</h3>
  <% @moviegoer.reviews.each do |review| %>
    <% movie = Movie.find(review.movie_id) %>
    <hr/>
    <h5>
      <%= @moviegoer.name %> give 
      <%= link_to "#{movie.title}", movie_path(movie) %>
      <%= review.potatoes %> potatoes.
    </h5>
    <p>
      <%= review.comments %>
    </p>
    
  <% end %>